.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}



.dragger-image-list :global(.ant-upload.ant-upload-drag p.ant-upload-text) {
    margin-top: 8px;
    color: #0f0;
}

:global(.ant-upload.ant-upload-drag p.ant-upload-hint) {
    margin-top: 8px;
    color: #00f;
}


/*
.dragger-image-list {
    position: absolute;
    width: 200px;
    right: 8px;
}
*/


/* tile uploaded pictures */
/*
.upload-list-inline .ant-upload-list-item {
  float: top; // left
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
*/